.idea/**
.pytest_cache/**
*.pyc
*~
*/nbproject
/texture/ScalarImageToTextureFeaturesFilter_1/build/
/texture/GLCMItk/build/
tests/test_data/**
tests/tutorial_data/**
*.log
lama/elastix/bin/**
lama/elastix/lib/**
stats/rscripts/test_data_for_R_LM/**
__pycache__/**
.mypy_cache/**
.*
*.zip