.idea/**
.pytest_cache/**
*.pyc
*~
*/nbproject
/dist/**
/build/**
/texture/ScalarImageToTextureFeaturesFilter_1/build/
/texture/GLCMItk/build/
lama/tests/test_data/**
lama/tests/tutorial_data/**
lama/tests/tutorials/**
*.log
lama/elastix/bin/**
lama/elastix/lib/**
walkthroughs/data/**
stats/rscripts/test_data_for_R_LM/**
__pycache__/**
.mypy_cache/**
.*
*.zip
*.nrrd
lama_phenotype_detection.egg-info/**
Dockerfile
lama/current_commit
